<div>
    <p class="input-group" flex="50">
        <input placeholder="Datum" type="text" class="form-control"
               uib-datepicker-popup="dd.MM.yyyy" ng-model="bpVM.dt"
               is-open="bpVM.popup.opened" datepicker-options="bpVM.dateOptions"
               ng-required="true"
               date-disabled="bpVM.disabled(date, mode)" current-text="Heute"
               clear-text="Leeren"
               close-text="Schließen"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="bpVM.open_datepicker()">
                <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
</div>
<div layout="row"  layout-align="start" flex="50">
    <md-autocomplete flex ng-disabled="bpVM.isDisabled" md-no-cache="true" md-delay="600" md-min-length="1"
                     md-selected-item="bpVM.selectedProject"
                     md-search-text-change="bpVM.searchTextChange(bpVM.searchProject)"
                     md-search-text="bpVM.searchProject"
                     md-selected-item-change="bpVM.selectedProjectChange(item)"
                     md-items="item in bpVM.queryProject(bpVM.searchProject)"
                     md-item-text="item.id+', '+item.description"
                     placeholder="Bitte wählen Sie eine Baustelle aus" md-select-on-match="true">
        <md-item-template>
                <span md-highlight-text="bpVM.searchProject"
                      md-highlight-flags="^i">{{ item.id+', '+item.description + ', ' +item.manager.firstname
                        + ' ' +item.manager.lastname }}</span>
        </md-item-template>
        <md-not-found>
            Keine Übereinstimmung mit "{{ bpVM.searchProject }}" gefunden.
        </md-not-found>
    </md-autocomplete>
</div>


<div>
<md-autocomplete flex="50" md-no-cache="false" md-selected-item="bpVM.supplier" md-delay="600" md-min-length="1"
                 md-search-text-change=""
                 md-search-text="bpVM.searchSupplier"
                 md-selected-item-change=""
                 md-items="item in bpVM.querySupplier(bpVM.searchSupplier)"
                 md-item-text="item.namea"
                 placeholder="Bitte wählen Sie einen Lieferanten aus.">
    <md-item-template>
        <span md-highlight-text="bpVM.searchSupplier"
              md-highlight-flags="^i">{{ item.namea }}
        </span>
    </md-item-template>
    <md-not-found>
        Keine Übereinstimmung mit "{{ bpVM.searchSupplier }}" gefunden.
    </md-not-found>
</md-autocomplete>
</div>
<form name="userForm">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Projektnachlass:</label>
            <input ng-model="vm.projektnachlass">
        </md-input-container>
        <md-input-container md-no-float>
            <label>Zahlungsbedingungen:</label>
            <input ng-model="vm.zahlungsbedingungen">
        </md-input-container>
        <md-input-container>
            <label>Sicherheitseinbehalt:</label>
            <input ng-model="vm.sicherheitseinbehalt">
        </md-input-container>
    </div>
</form>

<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Title</label>
        <input ng-model="user.title">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>
      <form name="userForm">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Company (Disabled)</label>
            <input ng-model="user.company" disabled>
          </md-input-container>
          <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">
          </md-datepicker>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
            <input ng-model="theMax">
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="user.address">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="user.address2" placeholder="Address 2">
        </md-input-container>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="user.city">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Postal Code</label>
            <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a postal code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
              </div>
            </div>
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Biography</label>
          <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </form>
    </div>
  </md-content>