<div ng-repeat="bestellung in bestellungen.list | orderBy: '-docdate'">
    <div class="panel panel-primary">
        <div class="panel-heading">Lieferant: {{ bestellung.supplier.namea }} Bestellung: {{ bestellung.id }}
            ({{ bestellung.docdate |date:'d. MMM yyyy' }})
            <li class="btn-group pull-right" uib-dropdown is-open="">
                <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                    Optionen <span class="caret"></span>
                </a>
                <ul class="uib-dropdown-menu" aria-labelledby="single-button">
                    <li><a ng-click="bestellungen.delete_doc(bestellung)">Bestellung löschen</a></li>
                </ul>
            </li>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <th>Name</th>
                <th>Anzahl</th>
                <th>Einheit</th>
                <th>Preis</th>
                <th>Kosten</th>
                </thead>
                <tbody>
                <tr class="text-muted" ng-repeat="(key, item) in bestellung.data">
                    <td> {{ item.name }}</td>
                    <td> {{ item.quantity }}</td>
                    <td> {{ item.unit }}</td>
                    <td> {{ item.price |currency:""}} €</td>
                    <td> {{ item.amount |currency:""}} €</td>
                    <td>
                        <li class="btn-group pull-right" uib-dropdown is-open="">
                            <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle
                               ng-disabled="disabled">
                                Optionen <span class="caret"></span>
                            </a>
                            <ul class="uib-dropdown-menu" aria-labelledby="single-button">
                                <li><a ng-click="bestellungen.delete_docdata(item.rowid)">Eintrag löschen</a></li>
                            </ul>
                        </li>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>