<div ng-repeat="bestellung in bestellungen1.list | orderBy: '-docdate'">
    <div class="panel panel-primary">
        <div class="panel-heading">Lieferant: {{ bestellung.supplier.namea }} Bestellung: {{ bestellung.id }}
            ({{ bestellung.docdate |date:'d. MMM yyyy' }})
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <th>Name</th>
                <th>Anzahl</th>
                <th>Einheit</th>
                <th>Preis</th>
                <th>Kosten</th>
                </thead>
                <tbody>
                <tr class="text-muted" ng-repeat="(key, item) in bestellung.data">
                    <td> {{ item.name }}</td>
                    <td> {{ item.quantity }}</td>
                    <td> {{ item.unit }}</td>
                    <td> {{ item.price |currency:""}} €</td>
                    <td> {{ item.amount |currency:""}} €</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>