Bestellung auswählen: <select class="form-control" style="width:350px;" ng-model="bestellungen1.select"
                              ng-options="bestellung as bestellung.status +' '+bestellung.supplier.namea+
                              ' ('+(bestellung.docdate|date:'d. MMM yyyy')+')'
                              for bestellung in bestellungen1.list | orderBy: 'status+supplier.namea'"></select>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="panel"
             ng-class="{'panel-primary': !bestellungen1.select.edit, 'panel-edit' : bestellungen1.select.edit }">
            <div class="panel-heading">
                <span ng-show="bestellungen1.select">Lieferant: {{ bestellungen1.select.supplier.namea }} Bestellung: {{ bestellungen1.select.id }}
                ({{ bestellungen1.select.docdate |date:'d. MMM yyyy' }})
                </span>
                <li ng-show="bestellungen1.select" class="btn-group pull-right" uib-dropdown is-open="">
                    <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle
                       ng-disabled="disabled">
                        Optionen <span class="caret"></span>
                    </a>
                    <ul class="uib-dropdown-menu" aria-labelledby="single-button">
                        <li><a ng-click="bestellungen1.delete_doc(bestellungen1.select)">Bestellung löschen</a></li>
                        <li><a ng-click="bestellungen1.edit_doc(bestellungen1.select)">Bestellung bearbeiten</a></li>
                        <!--Eingabefelder für extdocno, supplierinvoicenumber und datum hinzufügen-->
                        <li><a ng-click="bestellungen1.set_status_2(bestellungen1.select)">Status 2</a></li>
                    </ul>
                </li>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Bestellung</div>
                            <table class="table">
                                <thead>
                                <th>Name</th>
                                <th>Anzahl</th>
                                <th>Einheit</th>
                                <th>Preis</th>
                                <th>Kosten</th>
                                </thead>
                                <tbody>
                                <tr ng-class="{'bg-success':bestellungen1.marked==item.prodid}"
                                    ng-mouseover="bestellungen1.mark(item.prodid)" class="text-muted"
                                    ng-repeat="(key, item) in bestellungen1.select.data">
                                    <td> {{ item.name }}</td>
                                    <td> {{ item.quantity }}</td>
                                    <td> {{ item.unit }}</td>
                                    <td> {{ item.price |currency:""}} €</td>
                                    <td> {{ item.amount |currency:""}} €</td>
                                    <td><span ng-show="bestellungen1.select.edit">
                                <li class="btn-group pull-right" uib-dropdown is-open="">
                                    <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle
                                       ng-disabled="disabled">
                                        Optionen <span class="caret"></span>
                                    </a>
                                    <ul class="uib-dropdown-menu" aria-labelledby="single-button">
                                        <li><a ng-click="bestellungen1.delete_docdata(item.rowid)">Eintrag löschen</a>
                                        </li>
                                    </ul>
                                </li></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div ng-repeat="deliverynote in bestellungen1.select.deliverynotes" class="panel panel-default">
                            <div class="panel-heading">Lieferschein {{ deliverynote.id }}
                                {{ deliverynote.docdate|date:'d. MMM yyyy' }}</div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <th>Name</th>
                                    <th>Anzahl</th>
                                    <th>Einheit</th>
                                    <th>Preis</th>
                                    <th>Kosten</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-class="{'bg-success':bestellungen1.marked==item.prodid}"
                                        ng-mouseover="bestellungen1.mark(item.prodid)" class="text-muted"
                                        ng-repeat="(key, item) in deliverynote.data">
                                        <td> {{ item.name }}</td>
                                        <td> {{ item.quantity }}</td>
                                        <td> {{ item.unit }}</td>
                                        <td> {{ item.price |currency:""}} €</td>
                                        <td> {{ item.amount |currency:""}} €</td>
                                        <td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <span ng-show="bestellungen1.select.edit"><button>Lieferschein hinzufügen</button></span>
            </div>
        </div>
    </div>
</div>