<div class="row" ng-repeat="bestellung in bestellungen.list | orderBy: '-docdate'">
    <div class="col-lg-8">
        <div class="panel" ng-class="{'panel-primary': !bestellung.edit, 'panel-edit' : bestellung.edit }">
            <div class="panel-heading">Lieferant: {{ bestellung.supplier.namea }} Bestellung: {{ bestellung.id }}
                ({{ bestellung.docdate |date:'d. MMM yyyy' }})
                <li class="btn-group pull-right" uib-dropdown is-open="">
                    <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle
                       ng-disabled="disabled">
                        Optionen <span class="caret"></span>
                    </a>
                    <ul class="uib-dropdown-menu" aria-labelledby="single-button">
                        <li><a ng-click="bestellungen.delete_doc(bestellung)">Bestellung löschen</a></li>
                        <li><a ng-click="bestellungen.edit_doc(bestellung)">Bestellung bearbeiten</a></li>
                        <li><a ng-click="bestellungen.make(bestellung,'pdf')">Bestellung.pdf erzeugen</a></li>
                        <li><a ng-click="bestellungen.make(bestellung,'doc')">Bestellung.doc erzeugen</a></li>
                        <li><a ng-click="bestellungen.set_status_sent(bestellung)">als gesendet markieren</a></li>
                        <li><a ng-click="bestellungen.delete_documents(bestellung)">Dokumente löschen</a></li>
                    </ul>
                </li>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-1">Anzahl</th>
                    <th class="col-md-1">Einheit</th>
                    <th class="col-md-1">Preis</th>
                    <th class="col-md-1">Kosten</th>
                    <th class="col-md-2">Verpackung</th>
                    </thead>
                    <tbody>
                    <tr class="text-muted" ng-repeat="(key, item) in bestellung.data">
                        <td> {{ item.name }}</td>
                        <td> <span ng-show="bestellung.edit">
                                <input type="number" step="0.01" class="form-control" style="width:100px;"
                                       placeholder="{{ item.quantity }}"
                                       ng-model="item.quantity"></span>
                            <span ng-show="!bestellung.edit">{{ item.quantity }}</span>
                        </td>
                        <td> {{ item.unit }}</td>
                        <td> {{ item.price |currency:""}} €</td>
                        <td> {{ item.quantity*item.price |currency:""}} €</td>
                        <td> {{ item.packing }}</td>
                        <td><span ng-show="bestellung.edit">
                            <li class="btn-group pull-right" uib-dropdown is-open="">
                                <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle
                                   ng-disabled="disabled">
                                    Optionen <span class="caret"></span>
                                </a>
                                <ul class="uib-dropdown-menu" aria-labelledby="single-button">
                                    <li><a ng-click="bestellungen.delete_docdata(item.rowid)">Eintrag
                                        löschen</a></li>
                                </ul>
                            </li></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="well" ng-show="bestellungen.files[bestellung.id] != undefined">
                    <span ng-show="bestellungen.files[bestellung.id].pdf">
                        <a target="_blank" href="{{ bestellungen.files[bestellung.id].pdf }}">
                            <img ng-src="static/pdficon.png" width="32">Bestellung.pdf</a>
                    </span>
                    <span ng-show="bestellungen.files[bestellung.id].doc">
                        <a target="_blank" href="{{ bestellungen.files[bestellung.id].doc }}">
                            <img ng-src="static/wordicon.png" width="32">Bestellung.doc</a>
                    </span>
                    <span ng-show="bestellungen.files[bestellung.id].odt">
                        <a target="_blank" href="{{ bestellungen.files[bestellung.id].odt }}">
                            <img ng-src="static/odticon.png" width="32">Bestellung.odt</a>
                    </span>
                </div>
                <button ng-show="bestellung.edit" ng-click="bestellungen.save_doc(bestellung)">Speichern</button>
            </div>
        </div>
    </div>
</div>
