<p ng-show="bestellungen.loading">Bestellungen werden geladen<ellipsis></ellipsis></p>

<p ng-show="!bestellungen.list.length && !bestellungen.loading">Keine offenen Bestellungen</p>
<div id="overview" flex="70" ng-repeat="bestellung in bestellungen.list | orderBy: '-docdate'" >
    <div class="panel" ng-class="{'panel-edit' : bestellung.edit, 'panel-info': bestellung.select}"
        ng-class-odd="{'panel-success' : !bestellung.edit && !bestellung.select}" ng-class-even="{'panel-default' : !bestellung.edit && !bestellung.select}">
        <div class="panel-heading" layout="row">
            <div flex="grow"  ng-click="bestellungen.select_doc(bestellung)">
                {{ bestellung.id }} Lieferant: {{ bestellung.supplier.namea }} ({{ bestellung.docdate |date:'d. MMM yyyy' }})
            </div>
            <li flex="10" class="btn-group pull-right" uib-dropdown is-open="">
                <a id="single-button" type="button" class="dropdown-toggle pull-right" uib-dropdown-toggle
                   ng-disabled="disabled">
                    Optionen <span class="caret"></span>
                </a>
                <ul class="uib-dropdown-menu" aria-labelledby="single-button">
                    <li><a ng-click="bestellungen.delete_doc(bestellung)">Bestellung löschen</a></li>
                    <li><a ng-click="bestellungen.edit_doc(bestellung)">Bestellung bearbeiten</a></li>
                    <li><a ng-click="bestellungen.set_status_sent(bestellung)">als gesendet markieren</a></li>
                    <!--li><a ng-click="bestellungen.sendmail(bestellung)">An Lieferant verschicken (Email)</a></li-->
                    <li><a ng-click="bestellungen.delete_documents(bestellung)">Dokumente löschen</a></li>
                </ul>
            </li>
        </div>
        <div ng-show="bestellung.select" class="panel-body">
            <md-button class="md-raised" ng-click="bestellungen.set_status_sent(bestellung)">auf Status Verschickt setzen</md-button>
            <table class="table">
                <thead>
                <th class="col-md-4">Name</th>
                <th class="col-md-1">Anzahl</th>
                <th class="col-md-1">Einheit</th>
                <th class="col-md-1">Preis</th>
                <th class="col-md-1">Kosten</th>
                <th class="col-md-2">Verpackung</th>
                <th class="col-md-3">Bemerkung</th>
                </thead>
                <tbody>
                <tr class="text-muted" ng-repeat="(key, item) in bestellung.data">
                    <td> {{ item.name }}</td>
                    <td> <span ng-show="bestellung.edit">
                            <input type="number" step="0.01" class="form-control" style="width:100px;"
                                   placeholder="{{ item.quantity }}"
                                   ng-model="item.quantity"></span>
                        <span ng-show="!bestellung.edit">{{ item.quantity }}</span>
                    </td>
                    <td> {{ item.unit }}</td>
                    <td> {{ item.price |currency:""}} €</td>
                    <td> {{ item.quantity*item.price |currency:""}} €</td>
                    <td> {{ item.packing }}</td>
                    <td><span ng-show="bestellung.edit">
                        <textarea type="text" class="form-control" ng-model="item.comment"
                                  placeholder="Bemerkung (optional)" ng-maxlength="255" maxlength="255"></textarea></span>
                        <span ng-show="!bestellung.edit">{{ item.comment }}</span>
                    </td>
                    <td><span ng-show="bestellung.edit">
                        <li class="btn-group pull-right" uib-dropdown is-open="">
                            <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle
                               ng-disabled="disabled">
                                Optionen <span class="caret"></span>
                            </a>
                            <ul class="uib-dropdown-menu" aria-labelledby="single-button">
                                <li><a ng-click="bestellungen.delete_docdata(item.rowid)">Eintrag
                                    löschen</a></li>
                            </ul>
                        </li></span>
                    </td>
                </tr>
                </tbody>
            </table>

             <!--div class="well col-md-8 pull-left" ng-hide="bestellung.edit">
                <span ng-show="bestellungen.files[bestellung.id].pdf">
                    <a target="_blank" href="{{ bestellungen.files[bestellung.id].pdf }}">
                        <img ng-src="static/pdficon.png" width="32">Bestellung.pdf</a>
                </span>
             </div-->

            <div class="well" layout="row" ng-hide="bestellung.edit">
                <span ng-show="bestellung.pdf">
                    <a target="_blank" href="{{ bestellungen.files[bestellung.id].pdf  }}">
                        <img ng-src="static/pdficon.png" width="32">Bestellung-{{ bestellung.id }}.pdf</a>
                    <embed ng-if="bestellung.select" ng-src="{{ bestellung.pdf +'?q='+bestellungen.randomid+ '#page=1&amp;zoom=90'}}"
                           width="800" height="500" title="">
                    </embed>
                </span>

                <div ng-hide="bestellung.edit" class="btn-group col-md-4 pull-right" role="group" aria-label="...">
                    <div class="btn-group-vertical" role="group" aria-label="...">

                        <button type="button" class="btn btn-default"
                                ng-click="bestellungen.refresh_documents(bestellung)">
                            <img ng-src="static/pdficon.png" width="24"> neu erstellen
                        </button>
                        <!--<button type="button" class="btn btn-default"
                                ng-click="bestellungen.make(bestellung,'doc')"
                                ng-hide="bestellungen.files[bestellung.id].doc">
                            <img ng-src="static/wordicon.png" width="24"> erstellen
                        </button>-->
                    </div>
                </div>
            </div>

            <button ng-show="bestellung.edit" ng-click="bestellungen.save_doc(bestellung)"
                    type="button" class="btn btn-default">Speichern
            </button>
        </div>
    </div>
</div>
