Lieferant auswählen: <select class="form-control" style="width:350px;" ng-model="deliverynote.supplier"
                             ng-options="supplier as supplier.namea for supplier in deliverynote.suppliers | orderBy: 'namea'"
                             ng-change="deliverynote.update()"></select>
<br>

<!--mash all the purchasedocs together
    ordered by article
    if an article is present more than once, should we combine it into one or should we keep the distinct ones?
    -> make it an option, user can decide
    if we show distinct ones, the user can distribute the quantity among the purchases,
    show live view of deliverynotes to create
-->

<div class="row">
    <div class="col-lg-12">
        <div class="panel"
             ng-class="{'panel-primary': !deliverynote.select.edit, 'panel-edit' : deliverynote.select.edit }">
            <div class="panel-heading">
                Lieferant: {{ deliverynote.supplier.namea }}
                ({{ deliverynote.dt |date:'d. MMM yyyy' }})
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <p class="input-group">
                            <input placeholder="Datum" type="text" class="form-control"
                                   uib-datepicker-popup="dd.MM.yyyy" ng-model="deliverynote.dt"
                                   is-open="deliverynote.popup.opened" datepicker-options="deliverynote.dateOptions"
                                   ng-required="true"
                                   date-disabled="deliverynote.disabled(date, mode)" current-text="Heute"
                                   clear-text="Leeren"
                                   close-text="Schließen"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="deliverynote.open_datepicker()">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <p>
                            <input type="text" class="form-control" ng-model="deliverynote.extdocno"
                                   placeholder="Externe Lieferscheinnummer">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="deliverynote.comment"
                               placeholder="Kommentar (optional)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Bestellungen</div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <th class="col-md-2">Name</th>
                                    <th class="col-md-1">Bestellt</th>
                                    <th class="col-md-1">Geliefert</th>
                                    <th class="col-md-1">Einheit</th>
                                    <th class="col-md-1">Preis</th>
                                    <th class="col-md-1">Kosten</th>
                                    <th class="col-md-1">Datum</th>
                                    <th class="col-md-1">Bestellung</th>
                                    <th class="col-md-1">noch zu liefern</th>
                                    <th class="col-md-1">Lieferung</th>
                                    </thead>
                                    <tbody ng-show="!deliverynote.delivery_complete(prodid, articles)"
                                           ng-repeat="(prodid, articles) in deliverynote.articles">
                                    <tr ng-show="item.delivered_quantity<item.article.quantity-0.001"
                                        ng-class="{'bg-success':item.article.quantity - item.delivered_quantity - item.quantity==0,
                                        'bg-warning':item.article.quantity - item.delivered_quantity - item.quantity<0}"
                                        ng-mouseover="deliverynote.mark(prodid)" class="text-muted"
                                        ng-repeat="item in articles">
                                        <td> {{ item.article.name }}</td>
                                        <td> {{ item.article.quantity }}</td>
                                        <td> {{ item.delivered_quantity }}</td>
                                        <td> {{ item.article.unit }}</td>
                                        <td> {{ item.article.price |currency:""}} €</td>
                                        <td> {{ item.article.amount |currency:""}} €</td>
                                        <td> {{ item.date|date:'d. MMM yyyy'  }}</td>
                                        <td> {{ item.article.purchasedocid }}</td>
                                        <td>
                                            {{ item.article.quantity - item.delivered_quantity - item.quantity | number:3}}</td>
                                        <td><input type="number" class="form-control" ng-model="item.quantity"
                                                   placeholder="Anzahl"></td>
                                    </tr>
                                    <tr ng-show="deliverynote.total(articles) > 0">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ deliverynote.total(articles) }}</td>
                                    </tr>
                                    </tbody>

                                </table>
                                <button ng-click="deliverynote.save()">Speichern</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
