a {
    cursor: pointer;
}
.sortable{
  cursor:pointer;
  color:#428BCA;
}
.sortable:hover{
  text-decoration:underline;
}
#header {
  text-align:center;
}
body{
  margin:10px;
}
.sort-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  border: 0;
  content: "";
}

.sort .asc {
  vertical-align: super;
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-top: none;
  border-left: 4px solid transparent;
}
.sort .desc {
  vertical-align: super;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: none;
  border-left: 4px solid transparent;
}
li a { cursor:pointer;}

tr.title { font-weight: bold; }
tr.title +tr { border-top: 2px solid #DDD;}

tr td { border-top:none !important;}

.wizard a {
    padding: 10px 12px 10px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}

.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}

.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}

.wizard a:first-child .badge {
    margin-left: 0;
}

.wizard .current {
    background: #007ACC;
    color: #fff;
}

.wizard .current:after {
    border-left-color: #007ACC;
}