<div class="loginmodal-container">
    <div class="modal-header">
        <h1 class="modal-title">Login</h1>
    </div>
    <div class="modal-body">
        <form>
            <input ng-model="credentials.username" type="text" name="user" placeholder="Benutzername">
            <input ng-model="credentials.password" type="password" name="pass" placeholder="Passwort">
            <input ng-click="ok()" type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>
        <span ng-show="error" style="color:red;">Benutzername oder Passwort ist ungültig.</span>
    </div>
    <div class="modal-footer">
        <!--a href="#">Register</a> - <a href="#">Forgot Password</a-->
    </div>
</div>