<div flex="20">
    <!--md-select style="margin:0px;" flex placeholder="Gerätetyp" ng-model="maschinenVm.selectedType">
        <md-option ng-value="title" ng-repeat="title in maschinenVm.titles">{{ title.id }} {{title.name1}}</md-option>
    </md-select-->
     <md-input-container class="md-block" flex-gt-sm>
        <label>Suche</label>
        <input ng-model="maschinenVm.search">
     </md-input-container>
</div>
<br/>
<div class="" flex="60">
    <div layout="row" style="margin:8px;" layout-align="start start">
        <md-button class="textleft nomargin" flex="15" ng-click="maschinenVm.order=maschinenVm.order==='id'?'-id':'id'"><b>ID</b></md-button>
        <md-button class="textleft nomargin" flex="30" ng-click="maschinenVm.order=maschinenVm.order==='name1'?'-name1':'name1'"><b>Bezeichnung</b></md-button>
        <md-button class="textleft nomargin" flex="25" ng-click="maschinenVm.order=maschinenVm.order==='chassisnum'?'-chassisnum':'chassisnum'"><b>Seriennummer</b></md-button>
        <md-button class="textleft nomargin" flex="25" ng-click="maschinenVm.order=maschinenVm.order==='availabilitystatus'?'-availabilitystatus':'availabilitystatus'"><b>Ort</b></md-button>
    </div>
    <div layout="row" style="margin:8px;" ng-repeat="machine in maschinenVm.machines | filter: maschinenVm.search | orderBy: maschinenVm.order as results" layout-align="start start" class="" >
        <div flex="15">{{ machine.id }}</div>
        <div flex="30" title="{{machine.name1}}">{{machine.name1 | limitTo:30}}{{ machine.name1.length>30 ? '...' : ''}}</div>
        <div flex="25">{{ machine.chassisnum }}</div>
        <div flex="25">{{ machine.availabilitystatus }}</div>
    </div>
    <div class="" ng-if="results.length === 0" style="margin:8px;">
        <br/>
        <strong>Keine Ergebnisse...</strong>
    </div>
</div>

<div>
</div>