<br/>
<div class="row">
    <div class="col-lg-5">
        <h2>Bestellmenge:</h2>
        <div ng-repeat="(id, packing) in step3.packings">
            <div ng-if="!$last">
                <div class="input-group">
                    <input type="number" step="0.01" ng-model="step3.packings[id].orderAmount"
                           ng-change="step3.changeIn(id)" required
                           class="form-control" aria-describedby="{{ packing.id }}">
                    <span class="input-group-addon" id={{ packing.id }}>{{ packing.name }}</span>
                </div>
                <span ng-hide="$first">1 {{ packing.name }} &#8793; {{ packing.quantity }} {{ step3.product.unit1 }} <br/></span>
            </div>
            <div ng-form name="orderForm" ng-if="$last">
                <div class="input-group">
                <input type="number" step="0.01" ng-model="step3.packings[id].orderAmount"
                       ng-change="step3.changeIn(id)" name="amount" required
                       ng-pattern="/([1-9](\.[0-9]+)?)|(0\.[0-9]*[1-9])/"
                       class="form-control" aria-describedby="{{ packing.id }}">
                <span class="input-group-addon" id="{{ packing.id }}">{{ packing.name }}</span>
                </div>
                <span ng-hide="$first">1 {{ packing.name }} &#8793; {{ packing.quantity }} {{ step3.product.unit1 }} <br/></span>
                <span class="text-danger"
                      ng-show="orderForm.amount.$invalid"> Bitte geben Sie eine gültige Anzahl ein.</span>
                <br/>
                <div>
                    <md-button  class="md-raised" ng-disabled="orderForm.$invalid" ng-click="step3.save()">Zu Bestellung hinzufügen</md-button>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <h2>Übersicht Bestellung</h2>

    <div class="col-lg-7">
        <!--<h2>Bitte auswählen:</h2>
        <input type="radio" ng-model="newDoc" value="true"> Neue Bestellung <br/>
        <input type="radio" ng-model="newDoc" value="false"> Zu bestehender Bestellung hinzufügen <br/><br/>-->
        <div class="panel panel-primary">
            <div class="panel-heading">{{ step3.supplier.name }}
                ({{ step3.supplier.opendoc.docdate |date:'d. MMM yyyy' }}
                <span ng-show="!step3.supplier.opendoc">Neue Bestellung</span> <span ng-show="step3.supplier.opendoc">Best.-Nr. {{ step3.supplier.opendoc.id }}</span>)
            </div>
            <div class="panel-body">
                <p ng-hide="!step3.supplier.opendoc">Betrag: {{ (step3.supplier.opendoc.data | total:'amount') +
                        (step3.packings['base'].orderAmount * step3.supplier.purchaseprice) | currency:"" }} €</p>

                <p ng-show="!step3.supplier.opendoc">Betrag:
                    {{ step3.packings['base'].orderAmount * step3.supplier.purchaseprice |currency:"" }} €</p>
                <table class="table">
                    <thead>
                    <th>Name</th>
                    <th>Anzahl</th>
                    <th>Einheit</th>
                    <th>Preis</th>
                    <th>Kosten</th>
                    <th>Verpackung</th>
                    </thead>
                    <tbody>
                    <tr class="text-success bg-primary" ><td colspan="6">neue Position:</td></tr>
                    <tr class="text-success bg-info">
                        <td>{{ step3.product.name1 }}</td>
                        <td>{{ step3.packings['base'].orderAmount }}</td>
                        <td>{{ step3.product.unit1 }}</td>
                        <td>{{ step3.supplier.purchaseprice |currency:""}} €</td>
                        <td>{{ step3.packings['base'].orderAmount * step3.supplier.purchaseprice |currency:"" }} €</td>
                        <td>{{ step3.selectedpacking.orderAmount }} {{ step3.selectedpacking.name }}</td>
                    </tr>
                    <tr class="text-muted bg-primary" ng-show="step3.showDetail && step3.supplier.opendoc!==undefined"><td colspan="6">vorhandene Positionen:</td></tr>
                    <tr class="text-muted" ng-repeat="item in step3.supplier.opendoc.data" ng-show="step3.showDetail">
                        <td> {{ item.name }}</td>
                        <td> {{ item.quantity }}</td>
                        <td> {{ item.unit }}</td>
                        <td> {{ item.price |currency:"" }} €</td>
                        <td> {{ item.amount |currency:"" }} €</td>
                        <td> {{ item.packing }}</td>
                    </tr>
                    </tbody>
                </table>
                <!--p><a ng-click="step3.toggleDetail()">{{ step3.showText }}</a></p-->
            </div>
        </div>

    </div>

</div>


