<br/>
<form role="form" class="form-inline">
    <div class="form-group">
        <label>Suche: </label>
        <input class="form-control" style="width:250px;" placeholder="ID, Bezeichnung oder Artikelgruppe"
               ng-model="step1.query" ng-model-options="{debounce: 500}"
               ng-change="step1.resetAndUpdate()">
    </div>
    <div class="form-group">
        <label> Artikelgruppe </label>
        <select class="form-control" style="width:100px;" ng-model="step1.resourcenatureid"
                ng-options="nature.id as nature.name group by nature.title for nature in step1.resourcenatureids"
                ng-change="step1.resetAndUpdate()"></select>
    </div>
    <div class="form-group">
        <label> Firma </label>
        <select class="form-control" style="width:200px;" ng-model="step1.stockid"
                ng-options="stock.id as stock.name for stock in step1.stockinfo"
                ng-change="step1.resetAndUpdate()"></select>
    </div>
</form>
<br/>
<table class="table">
    <thead>
    <th class="col-md-2" ng-click="step1.setOrder('name1')"
        ng-class="{sort: step1.getOrder() == 'name1', sortable:true}">
        Bezeichnung <b ng-class="step1.sortDirection"></b>
    </th>
    <th class="col-md-1"></th>
    <th class="col-md-1">ID</th>
    <th class="col-md-1">Einheit</th>
    <th class="col-md-1" ng-click="step1.setOrder('stockcur')"
        ng-class="{sort: step1.getOrder() == 'stockcur', sortable:true}">
        Stock verfügbar <b ng-class="step1.sortDirection"></b>
    </th>
    <th class="col-md-1" ng-click="step1.setOrder('netpurchaseprice')"
        ng-class="{sort: step1.getOrder() == 'netpurchaseprice', sortable:true}">
        Netto Preis <b ng-class="step1.sortDirection"></b>
    </th>
    <th class="col-md-1" ng-click="step1.setOrder('defaultsupplier')"
        ng-class="{sort: step1.getOrder() == 'defaultsupplier', sortable:true}">
        Standard Lieferant <b ng-class="step1.sortDirection"></b>
    </th>
    <th class="col-md-1">StockID</th>

    </thead>
    <tbody>
    <tr ng-repeat="stockitem in step1.items track by stockitem.id"
        ng-class="{'text-muted': stockitem.prodid.supplier.length==0}">
        <td>{{ stockitem.prodid.nature ? stockitem.prodid.nature + ' /' : '' }} <b>{{ stockitem.prodid.name1 }}</b></td>
        <td><span ng-class="{hide:stockitem.prodid.title}">
            <button ng-click="bestellen.selectprod(stockitem.prodid)">auswählen</button></span>
        </td>
        <td>{{ stockitem.prodid.id }}</td>
        <td>{{ stockitem.prodid.unit1 }}</td>
        <td><span ng-class="{hide:stockitem.prodid.title}">{{ stockitem.prodid.stockcur }}</span></td>
        <td><span ng-class="{hide:stockitem.prodid.title}">{{ stockitem.prodid.netpurchaseprice }}</span></td>
        <td><span ng-class="{hide:stockitem.prodid.title}">{{ stockitem.prodid.defaultsupplier.namea }}</span></td>
        <td><span ng-class="{hide:stockitem.prodid.title}">{{ stockitem.stockid }}</span></td>
    </tr>
    </tbody>
</table>

<ul class="pager">
    <div class="form-inline">
    <li>
        <select class="form-control" style="width:80px;" ng-model="step1.perPage"
                ng-options="number for number in [10,20,50,100,200]" ng-change="step1.resetAndUpdate()">
        </select>
    </li>


    <li ng-click="step1.previousPage()" ng-class="{disabled:step1.page == 1}">
        <a>Zurück</a>
    </li>
    <li ng-click="step1.nextPage()" ng-class="{disabled:step1.page==step1.lastPage}">
        <a>Vor</a>
    </li>
    <li>
        <input class="form-control" type="text" name="page" ng-model="step1.page" ng-change="step1.updateList()"
               style="width: 50px;"><label>/{{ step1.lastPage }}</label>
    </li>
    </div>
</ul>
<!--Directive inner scope: {{ solid }}-->
