{% verbatim %}
    <!DOCTYPE html>
    <html>
    <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <!-- load from CDNs
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.3/angular-locale_de-de.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.js"></script>--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.5/angular-locale_de-de.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.js"></script>
    <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css'
          type='text/css' media='all'/>
    <script type='text/javascript'
            src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    -->
    <meta charset="utf-8">
    <title>Lagermodul</title>
{% endverbatim %}
{% load staticfiles %}
{% load rest_framework %}
{% load custom_tags %}
{% load i18n %}
<link rel="shortcut icon" href="{% static "favicon.png" %}" type="image/x-icon"/>
<link rel="icon" href="{% static "favicon.png" %}" type="image/x-icon"/>
<link rel="stylesheet" href="{% static "css/list.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
<link rel="stylesheet" href="{% static "css/angular-material.min.css" %}">
<link rel="stylesheet" href="{% static "css/docs.css" %}">
<link rel="stylesheet" href="{% static "css/weather-icons.min.css" %}">
<link rel="stylesheet" href="{% static "css/loading-bar.min.css" %}">
<link rel="stylesheet" href="{% static "css/animation.css" %}">

<script src="{% static "lib/underscore-min.js" %}"></script>            <!--Version: 1.8.3 -->
<script src="{% static "lib/angular.min.js" %}"></script>               <!--Version: 1.5.3 -->
<script src="{% static "lib/angular-cookies.min.js" %}"></script>       <!--Version: 1.5.3 -->
<script src="{% static "lib/angular-locale_de-de.min.js" %}"></script>  <!--Version: 1.5.3 -->
<script src="{% static "lib/angular-resource.min.js" %}"></script>      <!--Version: 1.2.1 -->
<script src="{% static "lib/angular-animate.min.js" %}"></script>       <!--Version: 1.5.3 -->
<script src="{% static "lib/angular-aria.min.js" %}"></script>          <!--Version: 1.5.3 -->
<script src="{% static "lib/angular-locale_de-de.min.js" %}"></script>  <!--Version: 1.5.5 -->
<script src="{% static "lib/angular-material.min.js" %}"></script>      <!--Version: 1.0.8 -->
<script src="{% static "lib/angular-ui-router.js" %}"></script>         <!--Version: release -->
<script src="{% static "lib/ui-bootstrap-tpls-0.14.3.js" %}"></script>  <!--Version: 0.14.3 -->
<script src="{% static "lib/loading-bar.min.js" %}"></script>           <!--Version: 0.7.1-->

<script src="{% static "base.js" %}"></script>
<script src="{% static "common/directives/docsTimeDirective.js" %}"></script>
<script src="{% static "common/directives/head.js" %}"></script>
<script src="{% static "common/services/alertService.js" %}"></script>
<script src="{% static "common/services/sessionService.js" %}"></script>
<script src="{% static "common/services/staffService.js" %}"></script>
<script src="{% static "common/services/stockService.js" %}"></script>
<script src="{% static "common/services/natureService.js" %}"></script>
<script src="{% static "common/services/productService.js" %}"></script>
<script src="{% static "common/services/bestellungenService.js" %}"></script>
<script src="{% static "common/services/loginService.js" %}"></script>
<script src="{% static "common/services/tokenService.js" %}"></script>
<script src="{% static "common/services/supplierService.js" %}"></script>
<script src="{% static "common/services/projectService.js" %}"></script>
<script src="{% static "common/services/installationService.js" %}"></script>
<script src="{% static "common/filters/total.js" %}"></script>

<script src="{% static "bestellen/controllers/BestellungCtrl.js" %}"></script>
<script src="{% static "bestellen/controllers/Step1Ctrl.js" %}"></script>
<script src="{% static "bestellen/controllers/Step2Ctrl.js" %}"></script>
<script src="{% static "bestellen/controllers/Step3Ctrl.js" %}"></script>
<script src="{% static "common/controllers/BaseCtrl.js" %}"></script>
<script src="{% static "bestellen/directives/base.js" %}"></script>
<script src="{% static "bestellen/directives/steps.js" %}"></script>
<script src="{% static "bestellungen/directives/bestellungen.js" %}"></script>
<script src="{% static "bestellungen/directives/bestellungen1.js" %}"></script>
<script src="{% static "bestellungen/directives/deliverynote.js" %}"></script>
<script src="{% static "lagerausgang/directives/base.js" %}"></script>
<script src="{% static "lagerausgang/controllers/LagerausgangCtrl.js" %}"></script>

<script src="{% static "kleinmaschinen/directives/base.js" %}"></script>
<script src="{% static "kleinmaschinen/controllers/KleinmaschinenCtrl.js" %}"></script>
{% verbatim %}
    <base href="/">
    </head>
    <body id="popupContainer" class="md-padding dialogdemoBasicUsage">

    <!--<span my-current-time="'d. MMM yyyy h:mm:ss'"></span>-->


    <div ng-controller="BaseCtrl as cc">
        <div class="nav navbar-nav pull-right" id="top">
            <span ><button type="button" class="btn btn-default" ng-click="cc.logout()">
                Logout
            </button></span>
            <span ng-show="cc.config_data.userdata"><button type="button" class="btn btn-default">
                {{ cc.config_data.userdata.first_name }} {{ cc.config_data.userdata.last_name }}</button>
            </span>
        </div>
        <head-content></head-content>
        <form role="form" class="form-inline">
            <!--<div class="form-group">
                <label> Stock </label>
                <select class="form-control" style="width:200px;" ng-model="cc.stockid"
                        ng-options="stock.id as stock.name for stock in cc.stockinfo"
                        ng-change="cc.setStockID(cc.stockid);cc.stockIDChanged()"></select>
            </div>-->
            <div class="form-group">
                <label> Firma {{ cc.config_data.company.namea }}</label>
                <!--<select class="form-control" style="width:200px;" ng-model="cc.companyid"
                        ng-options="id for id in cc.companies"
                        ng-change="cc.setCompanyID(cc.companyid);cc.stockIDChanged()"></select>-->
            </div>
        </form>
        <br>
        <ul class="nav nav-tabs">
            <li ng-if="cc.modules.Bestellen" ng-class="{active: cc.isActive('productlist_state')}">
                <a href="" ng-click="cc.setState('productlist_state')">Bestellen</a></li>
            <li class="btn-group" uib-dropdown is-open="cc.dropdown"
                ng-class="{active: cc.isActive('purchasedoc0_state')||cc.isActive('purchasedoc1_state')}">
                <a ng-if="cc.modules.Bestellen" id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle
                   ng-disabled="disabled">
                    Bestellungen <span class="caret"></span>
                </a>
                <ul ng-if="cc.modules.Bestellen" class="uib-dropdown-menu" aria-labelledby="single-button">
                    <li><a ng-click="cc.setState('purchasedoc0_state')">Offene Bestellungen</a></li>
                    <li><a ng-click="cc.setState('purchasedoc1_state')">Verschickte Bestellungen</a></li>
                    <li><a ng-click="cc.setState('purchasedoc2_state')">Lieferschein eintragen</a></li>
                </ul>
            </li>
            <li ng-if="cc.modules.Lagerausgang" ng-class="{active: cc.isActive('lagerausgang_state')}">
                <a href="" ng-click="cc.setState('lagerausgang_state')">Lagerausgang</a></li>
            <li ng-if="cc.modules.Kleinmaschinen" ng-class="{active: cc.isActive('kleinmaschinen_state')}">
                <a href="" ng-click="cc.setState('kleinmaschinen_state')">Kleinmaschinen</a></li>
        </ul>
        <br/>

        <div ng-switch="cc.state">
            <div ng-switch-when="productlist_state"><bestellen-base></bestellen-base>    </div>
            <div ng-switch-when="purchasedoc0_state"><bestellungen></bestellungen>       </div>
            <div ng-switch-when="purchasedoc1_state"><bestellungen1></bestellungen1>     </div>
            <div ng-switch-when="purchasedoc2_state"><deliverynote></deliverynote>       </div>
            <div ng-switch-when="lagerausgang_state"><lagerausgang></lagerausgang>       </div>
            <div ng-switch-when="kleinmaschinen_state"><kleinmaschinen></kleinmaschinen> </div>

            <!--<div ng-switch-when="bestellenprojekt_state"><bestellenprojekt></bestellenprojekt></div>-->
        </div>
    </div>
    </body>
    </html>
{% endverbatim %}
 
  