{% verbatim %}
  <!DOCTYPE html>
<html ng-app="baseApp">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.js"></script>
    <meta charset="utf-8">
    <title>Lagermodul</title>
{% endverbatim %}
{% load staticfiles %}
<script src="{% static "base.js" %}"></script>
<script src="{% static "common/controllers/BaseCtrl.js" %}"></script>
<script src="{% static "common/directives/docsTimeDirective.js" %}"></script>
<script src="{% static "common/directives/head.js" %}"></script>
<script src="{% static "common/services/natureService.js" %}"></script>
<script src="{% static "common/services/productService.js" %}"></script>
<script src="{% static "common/services/bestellungenService.js" %}"></script>
<script src="{% static "common/filters/total.js" %}"></script>

<script src="{% static "bestellen/controllers/BestellungCtrl.js" %}"></script>
<script src="{% static "bestellen/controllers/Step1Ctrl.js" %}"></script>
<script src="{% static "bestellen/controllers/Step2Ctrl.js" %}"></script>
<script src="{% static "bestellen/controllers/Step3Ctrl.js" %}"></script>
<script src="{% static "bestellen/directives/base.js" %}"></script>
<script src="{% static "bestellen/directives/step1.js" %}"></script>
<script src="{% static "bestellen/directives/step2.js" %}"></script>
<script src="{% static "bestellen/directives/step3.js" %}"></script>

<script src="{% static "bestellungen/directives/bestellungen.js" %}"></script>

<link rel="stylesheet" href="{% static "css/list.css" %}">
{% verbatim %}
</head>
<body>
<span my-current-time="'d. MMM yyyy h:mm:ss a'"></span>

<head-content></head-content>

<div ng-controller="BaseCtrl as cc">
    <ul class="nav nav-tabs">
        <li ng-class="{active: cc.isActive('productlist_state')}">
            <a href="" ng-click="cc.setState('productlist_state')">Bestellen</a></li>
        <li ng-class="{active: cc.isActive('purchasedoc_state')}">
            <a href="" ng-click="cc.setState('purchasedoc_state')">offene Bestellungen</a></li>
    </ul>
    <br/>
    <div ng-switch="cc.state">
        <div ng-switch-when="productlist_state" bestellen-base></div>
        <div ng-switch-when="purchasedoc_state" bestellungen></div>
    </div>
</div>

</body>
</html>
{% endverbatim %}
 
  