{% verbatim %}
  <!DOCTYPE html>
<html ng-app="app">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <script src="http://jashkenas.github.io/underscore/underscore-min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/lodash/2.1.0/lodash.compat.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.js"></script>
  
  <meta charset="utf-8">
  <title>Lagerverwaltung</title>
  
  {% endverbatim %}
  {% load staticfiles %}
  <script src="{% static "js/lager.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/list.css" %}">
   {% verbatim %}
</head>
<body ng-controller="ListCtrl">
  <div id="header">
  <h2>Lager</h2>
    <p>Stockbewegungen
  </div>
  <form ng-submit="updateList()">
  Search: <input ng-model="query">
</form>
  

<table class="table">
  <thead>
     <th ng-click="setOrder('id')" ng-class="{sort: sort === id, sortable:true}">
      ID <b ng-class="sortDirection('id')"></b>
    </th>
	<th ng-click="setOrder('prodid')" ng-class="{sort: sort === prodid, sortable:true}">
      Bezeichnung <b ng-class="sortDirection('prodid')"></b>
    </th>
    	<th>
      Stock
    </th>
    	<th ng-click="setOrder('quantitymin')" ng-class="{sort: sort === quantitymin, sortable:true}">
      Min <b ng-class="sortDirection('quantitymin')"></b>
    </th>
    <th ng-click="setOrder('quantitymax')" ng-class="{sort: sort === quantitymax, sortable:true}">
      Max <b ng-class="sortDirection('quantitymax')"></b>
    </th>
    <th ng-click="setOrder('quantitycur')" ng-class="{sort: sort === quantitycur, sortable:true}">
      Vorhanden <b ng-class="sortDirection('quantitycur')"></b>
    </th>
    <!--<th>state <select ng-model="state">
      <option value="" selected="selected">All</option>
      <option value="open">Open</option><option value="closed">Closed</option>
	</th>
	-->
  </thead>
  <tbody>
    <tr ng-repeat="item in items">
      <td><a ng-href="{{item.url}}">{{item.id}}</td>
      <td><a ng-href="{{item.prodid}}">{{item.prodid}}</td>
      <td><a ng-href="{{item.stockid}}">{{item.stockid}}</td>
      <td>{{item.quantitymin}}</td>
      <td>{{item.quantitymax}}</td>
      <td>{{item.quantitycur}}</td>
    </tr>
  </tbody>
  </table>

  <ul class="pager">
    <li>
        <select title="Page Size" ng-model="perPage">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
  </select>
    </li>
    <li ng-click="previousPage()" ng-class="{disabled:page == 1}">
      <a>Previous</a>
    </li>
    <li ng-click="nextPage()" ng-class="{disabled:page==lastPage}">
      <a>Next</a>
    </li>
    <li>
      {{page}}/{{lastPage}}
    </li>
  </ul>

</body>
</html>
 {% endverbatim %}
 
  